/* Header Styles */
header {
  position: fixed;
  width: 100%;
  padding: 3em 4em 1em 4em;
}

header h1, header h2 {
  color: var(--black);
}

header h1 {
  font-size: 1.75em;
  margin: .25em .25em ;
}

header h2 {
  font-size: 1.25em;
  margin: .25em .3em;
}

header ul {
  list-style-type: none;
  color: var(--black);
  font-weight: bold;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 1em;
}

.main-nav {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 3em;
}
