/* Apply a natural box layout model to all elements, but allowing components to change
Credit: Paul Irish
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* GLOBAL STYLES */
:root {
  --orange: #F05424;
  --pink: #EEC4CE;
  --yellow: #FBDB56;
  --blue-grey: #476D7D;
  --cream: #FBEDCC;
  --black: #000;
}

body {
  font-family: plantin, sans-serif;
  letter-spacing: .025em;
  font-size: 1em;
  line-height: 1.25em;
  position: relative;
}

.background{
  width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

}




/* HOME PAGE STYLES */


/* Main Styles */
main {
  width: 90%;
  z-index: 10;
  position: fixed;
  top: 15em;
  left: 5%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1%
}

.col-two {
  margin-top: 10em;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
