/* Apply a natural box layout model to all elements, but allowing components to change
Credit: Paul Irish
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* GLOBAL STYLES */
:root {
  --orange: #F05424;
  --pink: #EEC4CE;
  --yellow: #FBDB56;
  --blue-grey: #476D7D;
  --cream: #FBEDCC;
  --black: #000;
}

body {
  font-family: plantin, sans-serif;
  letter-spacing: .025em;
  font-size: 1em;
  line-height: 1.25em;
  position: relative;
}

.background{
  width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

}

.main-nav li {
  position: relative;
  padding: .5em 1em;
}

a {
  text-decoration: none;
  color: var(--black);
  width: fit-content;
}

.main-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
}

.main-nav a:hover::after {
  visibility: visible;
  width: 100%;
  transition: all 0.4s ease-in-out 0s;
}


/* Header Section */
.App-header {
    display: flex;
}


.logo h1, .logo h2 {
  width: fit-content;
}


/* Home Page Styles */



/* Main Section */
main {
  width: 90%;
  z-index: 10;
  position: fixed;
  top: 15em;
  left: 5%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1%
}

.col-two {
  margin-top: 10em;
}

/*Portfolio Section*/
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-preview {
  margin: 1em;
  padding: 1em;
  background: var(--orange);
  flex-basis: 29%;
}

/* Footer Section */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 0 0 1em 0;
  width: 100%;
}